<div class="relative">
  <nav>
    <div class="flex w-full justify-between items-center bg-gray-500 h-24">
      <div class="flex items-center">
        <h1 class="pl-10">Mess Management System</h1>
        <div class="flex flex-row ml-16 gap-5">
          <a class="btn" routerLink="">
            Home
          </a>
          <a class="btn" routerLink="bazar">
            Bazar Entry
          </a>
          <a class="btn" routerLink="mill">
            Mill Entry
          </a>
          <a class="btn" routerLink="joma">
            Joma
          </a>
        </div>
      </div>
      <div class="flex items-center mr-16">
        <a class="btn bg-green-800 hover:bg-purple-800" routerLink="add-member">
          Add Member
        </a>
      </div>
    </div>
  </nav>

  <router-outlet></router-outlet>

  <footer class="bottom-0 w-full">
    <div>
      <div class="flex justify-evenly items-center bg-gray-500 h-24 pr-80">
        <div>
          <a href="">Home</a>
        </div>
        <div>
          <a href="">About Us</a>
        </div>
      </div>
      <div class="absolute right-0 bottom-4 text-green-500 mr-10">Developed by Mahfuzur Rahman</div>
    </div>
  </footer>
</div>
