<div class="relative">
  <nav>
    <div class="flex w-full justify-between items-center bg-gray-500 h-24">
      <div class="flex items-center">
        <h1 class="pl-10">Mess Management System</h1>
        <div class="flex flex-row ml-16 gap-5">
          <button class="btn">
            <a routerLink="">
              Home
            </a>
          </button>
          <button class="btn">
            <a routerLink="bazar">
              Bazar Entry
            </a>
          </button>
          <button class="btn">
            <a routerLink="mill">
              Mill Entry
            </a>
          </button>
          <button class="btn">
            About
          </button>
        </div>
      </div>
      <div>.</div>
    </div>
  </nav>

  <router-outlet></router-outlet>

  <footer class="bottom-0 w-full">
    <div>
      <div class="flex justify-evenly items-center bg-gray-500 h-24 pr-80">
        <div>
          <a href="">Home</a>
        </div>
        <div>
          <a href="">About Us</a>
        </div>
      </div>
      <div class="absolute right-0 bottom-4 text-green-500 mr-10">Developed by Mahfuzur Rahman</div>
    </div>
  </footer>
</div>
